{{define "tmTitle"}}
{{if eq .Lang "cn"}}
核心价值
{{else if eq .Lang "tw"}}
核心價值
{{else if eq .Lang "en"}}
Core Values
{{end}}
{{end}}

{{define "tmContent"}}

<div class="container mb-5" id="coreValues">
    <div class="row">
        <div class="col-12 col-sm-11 text-justify mx-auto">
            {{if eq .Lang "tw"}}
            <h1 class="text-center">核心價值</h1>
            <h4>家人同行 ─ 這是一個旅程 (我們的核心價值)</h4>
            <p>家人同行，這是一個旅程，是一條道路，我們從那裡開始都不重要，重要是它源於：</p>

            <h4>一. 天父的呼喚</h4>
            <p>
                天父期待所有屬祂的兒女們都回家，不再流浪，不再作孤兒，起來回家，回到天父的家，所以凡聽到聖靈在你耳邊的呼喚：「回家」，你的心就受感動，
                而且這感動是越來越強烈，你就該起來，回家啦！
            </p>
            <p>
                在回家的路上，你我一定巴不得身邊的親朋好友一齊加入。是的，這確是天父的心，但所有現在能一起同行的都必定是這時已預備好的人，
                而每一個人的靈程、位置、聽命都各有時候，所以我們要放手，讓主作成。但這群人肯定不在乎有什麼頭銜、地位、名望；
                而在乎他跟你我是否在同一個脈動中，這脈動是天父的心跳。我們是被呼召來在同一條路上追著祂，所以這是一群家人被呼喚來到轉向的路上 (瑪4:6)。
                同心才能同行，同一韻律才能一起共舞，合一不反對人多，但卻不真的是需要全部的人。
            </p>
            <h4>二. 一個從未經歷過的旅程</h4>
            <p>
                我們心中懷著一份不能平息的期盼，要得著天父的心，要回歸祂的懷抱中，要在祂的榮耀中瞻仰祂的榮美，而且敬拜祂，全人向祂降服。
                所以這並不是一個聚會、一堆活動，甚或許多事工，而是一個旅程、一個追著祂的榮耀而跑的旅程，是一條沒有自己的復興之路，
                因為我們都是想著歸回「父心」(復興) 的一群兒女，不是單獨的、個人的，而是一群同有一個想望，同追一個看見的家人們，讓我們成為父的居所，
                讓祂的榮耀住在其中，這樣的旅程就充滿革命性了。我們不能按自己的想法為祂創建居所，卻要按著祂的啟示，因為「天是我的座位、地是我的腳凳．
                你們要為我造何等的殿宇？那裡是我安息的地方呢？」(賽66:1)，沒有任何一人的籌劃、設計、投資、大興土木、大肆工作，能為天父尋得安息之所。
                故此這個旅程必須是我們來聽祂，而且是集體的，需辨別的，沒有任何個人、團體的利益，只是想以全人作為建造祂安息居所的材料，遵祂指示而行，
                因為父所要的是那因祂的話而戰兢的人 (賽66:2)。
            </p>
            <h4>三. 遵主啟示前行</h4>
            <p>
                我們為什麼是「集體聆聽」？因為這是一個家庭，所以家人要同行，就要共同擁有天父的心。天父藉著聖靈，在末後的日子向祂的眾兒女說話，
                是異象、異夢、是知識的言語、智慧的言語、是先知的預言、是神蹟奇事的指示，這一切都出於智慧和啟示的靈，好叫我們真知道祂 (弗1:17-19)，
                也能因與家人同心同行，就能辨認出我們華人教會的命定及各人的位置，就能得著天父要我們得著的產業，成就主耶穌要賜福列國的應許。
                因此，我們沒有預設的一起來敬拜等候天父，與祂的心對齊，也彼此對齊，好讓我們能聽到聖靈向我們所說一致的話。我們也立了心志，
                在沒有聽 (包括詳盡仔細的辨別) 清楚主所吩咐的之前，絶不行動。若得了清楚明確的指示，絶對順服並徹底執行。
                這就是我們不論要付上任何代價，都在所不惜的降服，好叫天父喜悅。
            </p>
            <p>
                因此，若你被呼喚來「回家」，你不單要順服這呼召，也須作出如此的準備。挑戰自己放下一切，不單順服主，同時操練彼此順服，好叫你與家人們能同心同行的來成就天父的心意 (耶32:39)。但是若主沒有呼召你來「回家」，你不來，也是一種順服。聽從祂，是的！我們都要聽從祂，聖靈向眾教會所說的話，凡有耳的都應當聽。阿們！願天父在祂眾兒女們的順服中得滿足。
            </p>
            <p class="text-right">黃瑞君牧師</p>

            {{else if eq .Lang "cn"}}
            <h1 class="text-center">核心价值</h1>
            <h4>家人同行 ─ 这是一个旅程 (我们的核心价值)</h4>
            <p>家人同行，这是一个旅程，是一条道路，我们从那里开始都不重要，重要是它源于：</p>
            <h4>一. 天父的呼唤</h4>
            <p>
                天父期待所有属祂的儿女们都回家，不再流浪，不再作孤儿，起来回家，回到天父的家，所以凡听到圣灵在你耳边的呼唤：「回家」，你的心就受感动，而且这感动是越来越强烈，你就该起来，回家啦！
            </p>
            <p>
                在回家的路上，你我一定巴不得身边的亲朋好友一齐加入。是的，这确是天父的心，但所有现在能一起同行的都必定是这时已预备好的人，而每一个人的灵程、位置、听命都各有时候，所以我们要放手，让主作成。但这群人肯定不在乎有什么头衔、地位、名望；而在乎他跟你我是否在同一个脉动中，这脉动是天父的心跳。我们是被呼召来在同一条路上追着祂，所以这是一群家人被呼唤来到转向的路上 (玛4:6)。同心才能同行，同一韵律才能一起共舞，合一不反对人多，但却不真的是需要全部的人。
            </p>
            <h4>二. 一个从未经历过的旅程</h4>
            <p>
                我们心中怀着一份不能平息的期盼，要得着天父的心，要回归祂的怀抱中，要在祂的荣耀中瞻仰祂的荣美，而且敬拜祂，全人向祂降服。所以这并不是一个聚会、一堆活动，甚或许多事工，而是一个旅程、一个追着祂的荣耀而跑的旅程，是一条没有自己的复兴之路，因为我们都是想着归回「父心」(复兴) 的一群儿女，不是单独的、个人的，而是一群同有一个想望，同追一个看见的家人们，让我们成为父的居所，让祂的荣耀住在其中，这样的旅程就充满革命性了。我们不能按自己的想法为祂创建居所，却要按着祂的启示，因为「天是我的座位、地是我的脚凳．你们要为我造何等的殿宇？那里是我安息的地方呢？」(赛66:1)，没有任何一人的筹划、设计、投资、大兴土木、大肆工作，能为天父寻得安息之所。故此这个旅程必须是我们来听祂，而且是集体的，需辨别的，没有任何个人、团体的利益，只是想以全人作为建造祂安息居所的材料，遵祂指示而行，因为父所要的是那因祂的话而战兢的人(赛66:2)。
            </p>
            <h4>三. 遵主启示前行</h4>
            <p>
                我们为什么是「集体聆听」？因为这是一个家庭，所以家人要同行，就要共同拥有天父的心。天父借着圣灵，在末后的日子向祂的众儿女说话，是异象、异梦、是知识的言语、智慧的言语、是先知的预言、是神迹奇事的指示，这一切都出于智慧和启示的灵，好叫我们真知道祂(弗1:17-19)，也能因与家人同心同行，就能辨认出我们华人教会的命定及各人的位置，就能得着天父要我们得着的产业，成就主耶稣要赐福列国的应许。因此，我们没有预设的一起来敬拜等候天父，与祂的心对齐，也彼此对齐，好让我们能听到圣灵向我们所说一致的话。我们也立了心志，在没有听 (包括详尽仔细的辨别) 清楚主所吩咐的之前，绝不行动。若得了清楚明确的指示，绝对顺服并彻底执行。这就是我们不论要付上任何代价，都在所不惜的降服，好叫天父喜悦。
            </p>
            <p>
                因此，若你被呼唤来「回家」，你不单要顺服这呼召，也须作出如此的准备。挑战自己放下一切，不单顺服主，同时操练彼此顺服，好叫你与家人们能同心同行的来成就天父的心意 (耶32:39)。但是若主没有呼召你来「回家」，你不来，也是一种顺服。听从祂，是的！我们都要听从祂，圣灵向众教会所说的话，凡有耳的都应当听。阿们！愿天父在祂众儿女们的顺服中得满足。
            </p>
            <p class="text-right">黄瑞君牧师</p>

            {{else if eq .Lang "en"}}
            <h1 class="text-center">Core Values</h1>
            <h4>Family Journey — Our Core Values</h4>
            <p>Family Journey is a journey and a pathway. Where we join in is not important. What matters is where the pathway began:</p>

            <h4>1. The Call of the Father</h4>
            <p>
                Our Heavenly Father is longing for all His children to come home. No longer to be homeless. No longer to be orphans. Our Heavenly Father is calling: “Come home! Come back to my House!” If you are moved by the call of the Holy Spirit, and it stirs passion in your heart to respond, then arise and come home!
            </p>
            <p>
                On the way “home”, we may wish for eveyone around us to join in. Though it is the Father’s heart for all, not everyone is prepared to go at the same time or in the same way. There is a different season in everyone’s personal journey, position, and timing. So we must let go and allow the Lord to do His work. It is not about the title, status, or name of those who are called to the journey, but about having the same heartbeat—the Father’s heartbeat. We are called to pursue Him on the same journey—a journey of turning our hearts toward Him (Malachi 4:6.) Unless we have the same heart, we cannot walk together. Unless we move in the same rhythm, we cannot dance together. We are not against a large number for unity, but we do not believe it’s based on the agreement of the majority.
            </p>

            <h4>2. A Journey Never Experienced Before</h4>
            <p>
                With an unceasing longing for our Father’s Heart, returning to His embrace, and beholding His beauty, we worship Him and surrender fully unto Him. Therefore, this is not just another meeting, a series of activities, nor a ministry. Rather, this is a journey that requires us to pursue the glory of God corporately. It is a selfless road leading to revival. Our purpose is to become a family with one single desire that is to become a dwelling place for our Father’s glory. Such journey is revolutionary.
            </p>
            <p>
                We cannot in our own strength or in our own way, create a dwelling place for Him. This shall be done according to His word in Isaiah 66:1 which says, “Heaven is my throne and the earth is my footstool. Where is the house you will build for me? Where will my resting place be?” No one can plan, design, make massive investments, nor work to build a dwelling place for our Lord. It requires us listening and discerning corporately, laying down all individual or group interests, and offering ourselves as building materials for His dwelling place. “This is the one I esteem: he who is humble and contrite in spirit, and trembles at my word.” (Isaiah 66:2)
            </p>
            <h4>3. Follow God to Move Forward</h4>
            <p>
                Why do we practice “corporate listening”? It is because this journey is about becoming a family who listens together to the Father’s heart. In the last days, He will speak to His sons and daughters in visions, dreams, words of knowledge, and words of wisdom. He will release prophetic announcements and words pointing to signs and wonders. All these will be given by the Spirit of wisdom and revelation, so that you may know him better (Eph 1:17-19.) By walking together as a family, we can then realize the destiny and position of the Chinese church, inherit the land given by the Father, and fulfill Jesus’ promises to all nations.
            </p>
            <p>
                Therefore, we come to worship the Father, wait upon Him, and align our hearts together with God and with each other, so that we can hear the words from the Holy Spirit. We have determined that unless we hear the Lord clearly and practice discernment, we will not proceed. Once we receive a clear instruction from the Lord, we will obey and follow through at all cost. A full surrender regardless of the cost is what brings joy to the Father’s heart.
            </p>
            <p>
                Therefore, if you feel called to take part in the “Homecoming”, you must not only obey the call, but you must also take up the challenge to prepare by laying down everything. By obeying the Lord and submitting to one another, we can fulfill His desire for us to be in one heart and one way (Jer 32:39). If however, you do not feel called to participate at this time, it is important to obey the Holy Spirit as this is also an act of submission. We all must listen and obey the Lord as the Holy Spirit speaks to us. May all the churches who have ears, let them hear. Amen. May the heart of our Father be satisfied by having the submission and obedience of his children.
            </p>
            <p class="text-right">Pastor Lydia Wong</p>
            {{end}}
        </div>
    </div>
{{end}}