{{define "tmTitle"}}
{{if eq .Lang "cn"}}
更新家庭
{{else if eq .Lang "tw"}}
更新家庭
{{else if eq .Lang "en"}}
Renewal Family
{{end}}
{{end}}

{{define "tmContent"}}
<div class="bg2 pb-5">
<div class="container my-3" id="index">
    <div class="row">
        <div class="col-12 col-lg-11 col-xl-10 mx-auto">
            <div class="card bg2">
                <a href="together-{{.Lang}}.html">
                    <img class="card-img-top" src="static/shofar.jpg"
                     {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>

                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">5779 犹太新年吹角节聚集</h4>
                    <p class="card-text">今年9月9日是一个特别的日子，除了傍晚开始正好是犹太新年5779吹角节，也是40天全球禁食祷告的结束，并且“正巧”是主日！ 利未記23:23-25 「你曉諭以色列人說：七月初一，你們要守為聖安息日，要吹角 做紀念，當有聖會。什麼勞碌的工都不可做，要將火祭獻給耶和華。」</p>
                    <a class="btn btn-danger" href="together-{{.Lang}}.html?v1">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">5779 猶太新年吹角節聚集</h4>
                    <p class="card-text">今年9月9日是一個特別的日子，除了傍晚開始正好是猶太新年5779吹角節，也是40天全球禁食禱告的結束，並且“正巧”是主日！ 利未記23:23-25 「你曉諭以色列人說：七月初一，你們要守為聖安息日，要吹角 做紀念，當有聖會。什麼勞碌的工都不可做，要將火祭獻給耶和華。」</p>
                    <a class="btn btn-danger" href="together-{{.Lang}}.html?v1">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">5779 New Year Gathering</h4>
                    <p class="card-text">September 9 is very unique. It is the beginning of the 5779 Jewish New Year, Feast of Trumpet, and also the ending time of 40 day global fasting. And that day happened to be a Sunday! Leviticus 23:23 - 25 recorded what the Lord says concerning Feast of Trumpet: Observe the Feast! Call the Holy assembly! Blow the shofar! Bring the burn offering! Ezra 3:1 also describe that in Jewish New Year, Israelites will gather in Jerusalem TOGETHER As ONE! </p>
                    <a class="btn btn-danger" href="together-{{.Lang}}.html?v1">Go</a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container pb-3">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card bg1">
                <a href="renewal-family-{{.Lang}}.html">
                    <img class="card-img-top" src="static/rf2.jpg"
                     {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>
                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">更新家庭</h4>
                    <p class="card-text">更新家庭原名更新团契。1996年，神感动一群温哥华的牧者，在城市的父老赵仲权牧师的带领之下， 愿意超越自己的事工，单单渴慕主在温哥华找到祂的...</p>
                    <a class="btn btn-primary" href="renewal-family-{{.Lang}}.html">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">更新家庭</h4>
                    <p class="card-text">更新家庭原名更新團契。1996年，神感動一群溫哥華的牧者，在城市的父老趙仲權牧師的帶領之下， 願意超越自己的事工，單單渴慕主在溫哥華找到祂的...</p>
                    <a class="btn btn-primary" href="renewal-family-{{.Lang}}.html">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">Renewal Family</h4>
                    <p class="card-text">Renewal Family, was originally Renewal Fellowship, founded in 1996, was made up of a group of pastors from different denominations, led by the spirit of the Lord...</p>
                    <a class="btn btn-primary" href="renewal-family-{{.Lang}}.html">Go</a>
                    {{end}}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card bg1">
                <a href="city-prayer-alter-{{.Lang}}.html">
                    <img class="card-img-top" src="static/pray.jpg"
                         {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>
                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">城市祷告祭坛</h4>
                    <p class="card-text">从2014年底，藉着城市众长老的鼓励和遮盖及先知Imiel话语的印证，我们开始了城市性的聚集祷告。...神让我们更频繁地在一起，成为一个城市祷告祭坛。</p>
                    <a class="btn btn-primary" href="city-prayer-alter-{{.Lang}}.html">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">城市禱告祭壇</h4>
                    <p class="card-text">從2014年底，藉著城市眾長老的鼓勵和遮蓋及先知Imiel話語的印証，我們開始了城市性的聚集禱告。...神讓我們更頻繁地在一起，成為一個城市禱告祭壇。</p>
                    <a class="btn btn-primary" href="city-prayer-alter-{{.Lang}}.html">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">City Prayer Altar</h4>
                    <p class="card-text">We started City Prayer Altar by the confirmation of the fathers and Prophet Imeil’s words, in 2014. Although we already had monthly joint prayer meeting... </p>
                    <a class="btn btn-primary" href="city-prayer-alter-{{.Lang}}.html">Go</a>
                    {{end}}
                </div>
            </div>
        </div>

       <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card bg1">
                <a href="awaken-{{.Lang}}.html">
                    <img class="card-img-top" src="static/awaken.png"
                     {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>
                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">命定晨光</h4>
                    <p class="card-text">我们每天早上5点起来“命定晨光”，在黎明母腹的时间借着敬拜赞美，宣告和发命使神的同在和话语充满城市的上空，为一天定调。欢迎你参加“命定晨光”...</p>
                    <a class="btn btn-primary" href="awaken-{{.Lang}}.html">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">命定晨光</h4>
                    <p class="card-text">我們每天早上5點起來“命定晨光”，在黎明母腹的時間藉著敬拜讚美，宣告和發命使神的同在和話語充滿城市的上空，為一天定調。歡迎你參加“命定晨光”...</p>
                    <a class="btn btn-primary" href="awaken-{{.Lang}}.html">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">Awaken the Dawn</h4>
                    <p class="card-text">Praise the Lord for calling us to Awaken the Dawn! This year has been amazing - praying, praising, declaring and filling the airwaves with His powerful Presence and Word... </p>
                    <a class="btn btn-primary" href="awaken-{{.Lang}}.html">Go</a>
                    {{end}}
                </div>
            </div>
        </div>

       <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card bg1">
                <a href="core-value-{{.Lang}}.html">
                    <img class="card-img-top" src="static/family.jpg"
                     {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>
                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">核心价值</h4>
                    <p class="card-text">家人同行，这是一个旅程，是一条道路，我们从那里开始都不重要，重要是它源于： 一. 天父的呼唤; 二. 一个从未经历过的旅程; 三. 遵主启示前行...</p>
                    <a class="btn btn-primary" href="core-value-{{.Lang}}.html">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">核心價值</h4>
                    <p class="card-text">家人同行，這是一個旅程，是一條道路，我們從那裡開始都不重要，重要是它源於： 一. 天父的呼喚;二. 一個從未經歷過的旅程; 三. 遵主啟示前行...</p>
                    <a class="btn btn-primary" href="core-value-{{.Lang}}.html">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">Core Values</h4>
                    <p class="card-text">Family Journey is a journey and a pathway. Where we join in is not important. What matters is where the pathway began: 1. The Call of the Father; 2. A Journey Never ... </p>
                    <a class="btn btn-primary" href="core-value-{{.Lang}}.html">Go</a>
                    {{end}}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card bg1">
                <a href="http://www.ihopuchinese.org/Artcle/Index?MenuId=26&NavigateId=28" target="_blank">
                    <img class="card-img-top" src="static/convergence-s.jpg"
                         {{if eq .Lang "cn"}}
                    title="点击查看详情"
                    {{else if eq .Lang "tw"}}
                    title="點擊查看詳情"
                    {{else if eq .Lang "en"}}
                    title="Click for details"
                    {{end}}
                    data-toggle="tooltip">
                </a>
                <div class="card-body text-justify">
                    {{if eq .Lang "cn"}}
                    <h4 class="card-title">“匯集”回家聚集</h4>
                    <p class="card-text">「匯集」是由北美华人召集的一次回家聚集。我们寻求神的时候，神把美国IHOPKC（国际祷告殿）的门打开，让我们在美国中部举办这个聚集...</p>
                    <a class="btn btn-primary" href="http://www.ihopuchinese.org/Artcle/Index?MenuId=26&NavigateId=28" target="_blank">点击进入</a>
                    {{else if eq .Lang "tw"}}
                    <h4 class="card-title">“匯集”回家聚集</h4>
                    <p class="card-text">「匯集」是由北美華人召集的一次回家聚集。我們尋求神的時候，神把美國IHOPKC（國際禱告殿）的門打開，讓我們在美國中部舉辦這個聚集...</p>
                    <a class="btn btn-primary" href="http://www.ihopuchinese.org/Artcle/Index?MenuId=26&NavigateId=28" target="_blank">點擊進入</a>
                    {{else if eq .Lang "en"}}
                    <h4 class="card-title">Convergence</small></h4>
                    <p class="card-text">Convergence is a gathering called by a group of North American Chinese. When they sought the Lord, the Lord opened the door of IHOPKC to host this gathering. We believe...</p>
                    <a class="btn btn-primary" href="http://www.ihopuchinese.org/Artcle/Index?MenuId=26&NavigateId=28" target="_blank">Go</a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}