{{define "tmTitle"}}
{{if eq .Lang "cn"}}
更新家庭
{{else if eq .Lang "tw"}}
更新家庭
{{else if eq .Lang "en"}}
Renewal Family
{{end}}
{{end}}

{{define "tmContent"}}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <p>进入 <a href="http://www.renewalfamily.org/yomkippur/cn.html"><strong>如同一人</strong> -- 5779犹太新年吹角节聚集</a><br>
                進入 <a href="http://www.renewalfamily.org/yomkippur/cn.html"><strong>如同一人</strong> -- 5779猶太新年吹角節聚集</a><br>
                Go to <a href="http://www.renewalfamily.org/yomkippur/en.html"><strong>Together As One</strong> -- 5779 New Year Gathering</a></p>
            <img src="static/shofar.jpg" alt="">
        </div>
    </div>
</div>
{{end}}