{{define "tmTitle"}}
{{if eq .Lang "cn"}}
启示性分享
{{else if eq .Lang "tw"}}
啟示性分享
{{else if eq .Lang "en"}}
Prophetic Sharing
{{end}}
{{end}}

{{define "tmContent"}}
<div class="py-5" id="top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h2>
                    {{if eq .Lang "cn"}}
                    5779 吹角节 Imiel 先知预言(2)
                    {{else if eq .Lang "tw"}}
                    5779 吹角節 Imiel 先知預言(2)
                    {{else if eq .Lang "en"}}
                    5779 Feast of Trumpets(2)
                    {{end}}
                </h2>
                <h4>
                {{if eq .Lang "cn"}}
                    2018年9月9日
                {{else if eq .Lang "tw"}}
                    2018年9月9日
                {{else if eq .Lang "en"}}
                    Sep 9, 2018
                {{end}}
                </h4>
            </div>
            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pw35BSdgea8?rel=0&amp;start=6295" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6">

                {{if eq .Lang "cn"}}
                <p>主对你们说：我亲爱的属灵战士，在如此一个神圣的庆典当中，我需要释放透明的属灵生命，还有和谐。</p>
                <p>主说，我会让温哥华的教会成为这个国家教会的模范，和列国教会的模范。这是对于预备我全球的余民一个非常有能力的动员，
                    以至有足够的预备迎接大灾难前头的预兆。这大灾难前头的预兆：战争、杀戮和逼迫已经在发生了，所以你们要预备得胜！</p>
                <p>主说，只要你们愿意甚至殉道，我就在为你们预备天上宝贵的产业。主再对你们说，没有时间浪费了，你需要愿意站立得稳，
                    没有任何空间让我们来懈怠，这是主说的.阿门！</p>
                {{else if eq .Lang "tw"}}
                <h4 class="text-center">2018年9月9日</h4>
                <p>主對你們說：我親愛的屬靈戰士，在如此一個神聖的慶典當中，我需要釋放透明的屬靈生命，還有和諧。 </p>
                <p>主說，我會讓溫哥華的教會成為這個國家教會的模範，和列國教會的模範。這是對於預備我全球的餘民一個非常有能力的動員，
                    以至有足夠的預備迎接大災難前頭的預兆。這大災難前頭的預兆：戰爭、殺戮和逼迫已經在發生了，所以你們要預備得勝！ </p>
                <p>主說，只要你們願意甚至殉道，我就在為你們預備天上寶貴的產業。主再對你們說，沒有時間浪費了，你需要願意站立得穩，
                    沒有任何空間讓我們來懈怠，這是主說的.阿門！ </p>
                {{else if eq .Lang "en"}}
                <h4 class="text-center">2018-09-09</h4>
                <p>The Lord says unto you My dear beloved spiritual soldiers. In such a holy celebration I have to release
                    transparency of spirituality and harmonization. </p>
                <p>The Lord says, I will let churches of Vancouver to be a model for the churches of the nation and the
                    churches of all nations. And this is a very powerful mobilization to prepare My remnant in the whole
                    world to be ready enough for the preliminary signs of the great tribulation. Such preliminary signs
                    of the great tribulation are now happening - war, killings, persecutions. So, be ready to be victorious。</p>
                <p>And the Lord says, as long as you are willing even to be martyred I am in the business of preparing
                    the precious inheritance in heaven. The Lord says unto you. There is no time to waste. You have to
                    be willing to stand steadfastly and no room for sluggishness, says the Lord. Amen.</p>
                {{end}}
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center py-5">
                <h2>
                    {{if eq .Lang "cn"}}
                    5779 吹角节 Imiel 先知预言(1)
                    {{else if eq .Lang "tw"}}
                    5779 吹角節 Imiel 先知預言(1)
                    {{else if eq .Lang "en"}}
                    5779 Feast of Trumpets(1)
                    {{end}}
                </h2>
                <h4>
                    {{if eq .Lang "cn"}}
                    2018年9月7日
                    {{else if eq .Lang "tw"}}
                    2018年9月7日
                    {{else if eq .Lang "en"}}
                    Sep 7, 2018
                    {{end}}
                </h4>
            </div>
            <div class="col-12 col-md-6">

                {{if eq .Lang "cn"}}
                <p>主对我亲爱的跟随者，不管是牧师，或者是执事说，现在是一个历史性的时刻，我招聚你们来是要看见我在最近的未来所要释放的。在这期间我要成就我神圣的时间表。</p>
                <p>你们会因着我神圣的时间表而惊讶.我会让你们看见，因你们同心合一，你们无论到哪里去都会带下我的同在。</p>
                <p>主对你们说，我在训练你们成为属灵的战士，为整个温哥华城市站在破口，不只是为温哥华，更是为全世界的教会。</p>
                <p>主对你们说，这样的聚集会不时的发生，你会很惊讶，我会吸引很多在本地教会之外的人。主说你们会热切地体尝到如此同心合意的美好。</p>
                <p>主说我会用我超自然的恩赐来赏赐你们许多的人. 主说甚至在你的生意当中，我也会启示我的智慧。</p>
                <p>主说在这个聚集当中你们会经历超过你们所想的，到一个地步，你们回家的时候会决心要全心的跟随爱慕我。主说，我荣耀的云彩现在就在你们以上，这是主所说的，阿门。</p>

                {{else if eq .Lang "tw"}}
                <p>主對我親愛的跟隨者，不管是牧師，或者是執事說，現在是一個歷史性的時刻，我招聚你們來是要看見我在最近的未來所要釋放的。在這期間我要成就我神聖的時間表。 </p>
                <p>你們會因著我神聖的時間表而驚訝.我會讓你們看見，因你們同心合一，你們無論到哪裡去都會帶下我的同在。 </p>
                <p>主對你們說，我在訓練你們成為屬靈的戰士，為整個溫哥華城市站在破口，不只是為溫哥華，更是為全世界的教會。 </p>
                <p>主對你們說，這樣的聚集會不時的發生，你會很驚訝，我會吸引很多在本地教會之外的人。主說你們會熱切地體嚐到如此同心合意的美好。 </p>
                <p>主說我會用我超自然的恩賜來賞賜你們許多的人. 主說甚至在你的生意當中，我也會啟示我的智慧。 </p>
                <p>主說在這個聚集當中你們會經歷超過你們所想的，到一個地步，你們回家的時候會決心要全心的跟隨愛慕我。主說，我榮耀的雲彩現在就在你們以上，這是主所說的，阿門。 </p>

                {{else if eq .Lang "en"}}

                <p>The Lord says unto you, My Dear Beloved Followers whether pastors or deacons, indeed it’s a historical moment in which
                    I am Gathering you together to envision what I am about to release in the near future and in the meantime,
                    I will bring about My divine schedules. </p>
                <p>And for your surprise, I will astonish you with My divine schedule. I will show up the instrumentality of togetherness that will
                    bring about My Presence wherever you go. </p>
                <p>The Lord says unto you, I am training you to be spiritual fighters to stand in the gap on behalf of the whole city in Vancouver
                    not only for Vancouver, but for the universal church. </p>
                <p>The Lord says unto you, such Gatherings will be happening every now and then. And for your surprise, I will attract many ones
                    outside the local church. The Lord says you will zealously taste such togetherness. </p>
                <p>And the Lord says I will gift you, many of you, My supernatural gifts. And the Lord says even in your businesses
                    I will reveal My wisdom. </p>
                <p>The Lord says in this meeting, you will experience something beyond measure to the point that you will come back home with a
                    determination to be fully devoted. The Lord says the cloud of My glory is over you now. Says the Lord, amen.</p>
                {{end}}
            </div>
            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZeX-ydVas2Y?rel=0&amp;start=1910" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{{end}}