{{define "tmTitle"}}
{{if eq .Lang "cn"}}
启示性分享
{{else if eq .Lang "tw"}}
啟示性分享
{{else if eq .Lang "en"}}
Prophetic Sharing
{{end}}
{{end}}

{{define "tmContent"}}
<div class="py-5" id="top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="h2 pb-5">
                    {{if eq .Lang "cn"}}
                    5779 吹角节 Imiel 先知预言
                    {{else if eq .Lang "tw"}}
                    5779 吹角節 Imiel 先知預言
                    {{else if eq .Lang "en"}}
                    5779 Feast of Trumpets
                    {{end}}
                    <!--<br>-->
                    <!--<span class="h4">-->
                    <!--{{if eq .Lang "cn"}}-->
                        <!--2018年9月9日-->
                    <!--{{else if eq .Lang "tw"}}-->
                        <!--2018年9月9日-->
                    <!--{{else if eq .Lang "en"}}-->
                        <!--Sep 9, 2018-->
                    <!--{{end}}-->
                    <!--</span>-->
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pw35BSdgea8?rel=0&amp;start=6295" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6">

                {{if eq .Lang "cn"}}
                <h4 class="text-center">2018年9月9日</h4>
                <p>主对你们说：我亲爱的属灵战士，在如此一个神圣的庆典当中，我需要释放透明的属灵生命，还有和谐。</p>
                <p>主说，我会让温哥华的教会成为这个国家教会的模范，和列国教会的模范。这是对于预备我全球的余民一个非常有能力的动员，
                    以至有足够的预备迎接大灾难前头的预兆。这大灾难前头的预兆：战争、杀戮和逼迫已经在发生了，所以你们要预备得胜！</p>
                <p>主说，只要你们愿意甚至殉道，我就在为你们预备天上宝贵的产业。主再对你们说，没有时间浪费了，你需要愿意站立得稳，
                    没有任何空间让我们来懈怠，这是主说的.阿门！</p>
                {{else if eq .Lang "tw"}}
                <h4 class="text-center">2018年9月9日</h4>
                <p>主對你們說：我親愛的屬靈戰士，在如此一個神聖的慶典當中，我需要釋放透明的屬靈生命，還有和諧。 </p>
                <p>主說，我會讓溫哥華的教會成為這個國家教會的模範，和列國教會的模範。這是對於預備我全球的餘民一個非常有能力的動員，
                    以至有足夠的預備迎接大災難前頭的預兆。這大災難前頭的預兆：戰爭、殺戮和逼迫已經在發生了，所以你們要預備得勝！ </p>
                <p>主說，只要你們願意甚至殉道，我就在為你們預備天上寶貴的產業。主再對你們說，沒有時間浪費了，你需要願意站立得穩，
                    沒有任何空間讓我們來懈怠，這是主說的.阿門！ </p>
                {{else if eq .Lang "en"}}
                <h4 class="text-center">2018-09-09</h4>
                <p>The Lord says unto you My dear beloved spiritual soldiers. In such a holy celebration I have to release
                    transparency of spirituality and harmonization. </p>
                <p>The Lord says, I will let churches of Vancouver to be a model for the churches of the nation and the
                    churches of all nations. And this is a very powerful mobilization to prepare My remnant in the whole
                    world to be ready enough for the preliminary signs of the great tribulation. Such preliminary signs
                    of the great tribulation are now happening - war, killings, persecutions. So, be ready to be victorious。</p>
                <p>And the Lord says, as long as you are willing even to be martyred I am in the business of preparing
                    the precious inheritance in heaven. The Lord says unto you. There is no time to waste. You have to
                    be willing to stand steadfastly and no room for sluggishness, says the Lord. Amen.</p>
                {{end}}
            </div>
        </div>
    </div>
</div>


{{end}}