{{define "tmTitle"}}
{{if eq .Lang "cn"}}
启示性分享
{{else if eq .Lang "tw"}}
啟示性分享
{{else if eq .Lang "en"}}
Prophetic Sharing
{{end}}
{{end}}

{{define "tmContent"}}
<div class="py-5 bg-sharing" id="top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p><strong>家人们好！</strong></p>
                <p>現在是末世警号吹响之时！主给我们恩典时间，让我们快速预备自己。在吹角节的“如同一人”的聚集中，我们经历了神极大荣耀的作为，
                    圣灵催生了一个合一相爱的城市的家！ 神要在温哥华这个母腹继续做更深更广的合一！我们在他的同在中深深地体会到天父的心！
                    我们为每位一起同心同行的牧者、代祷者及所有的家人感谢神！</p>
                <p>相信在聚集中很多人都有生命改变的见证及从神而来的领受！我们现在向家人们征集感恩见证、领受、还有异梦异像，
                    我们会汇集筛选后放在更新家庭的网站上（<span class="text-danger">www.RenewalFamily.org</span>)，让更多的家人可以一起拥有。
                    请大家可以把你的分享发在这个群里，也可发给Esther Yin姐妹，谢谢她为我们整理。（你也可以发给你的牧者转交。）</p>
                <p>路加福音17:17 记载耶稣洁净了十个长大麻风的，只有一个人回来感恩，主就说：
                    <span class="text-danger">“洁净了的不是十个人吗？那九个在哪里呢？”</span></p>
                <p>让主在温哥华不会失望，因为我们都要回来向主献上感恩！</p>
                <p class="font-weight-bold">主耶稣期待你我的感恩见证哦！<br>
                  让我们一起将荣耀颂赞归给在我们中间行了大事的神！因祂配得！</p>

            </div>
            <div class="col-12 col-md-6">
                pic
            </div>
        </div>
    </div>
</div>

<div class="bg-sharing1 py-5" id="sharing">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <p>8月30日（聚集前）我看见一道护城河环绕着温哥华的城市，但是护城河没有水，河床干涸，在河床上有很多人在一起挖着干涸的河底，
                    我看见大家齐心合力挖出了一个喷涌而出的源泉！灵里告诉我这个源泉是亘古就有的！在神的时间里是这些同心协力的人可以找到的！
                    我看见护城河满了水，护城河起到了保护城市的作用。城里城外的也被这水浇灌滋润。 </p>
                <p class="text-primary"><strong>Esther姐妹 锡安教会</strong></p>
            </div>
        </div>
    </div>
</div>


{{end}}