body {
    /* Margin bottom by footer height */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "Microsoft JhengHei", SimKai, sans-serif;
    margin-top: 50px;
}

.row {
    padding: 50px 20px;
}

.bg1 {
    background-color: #EEE2dc;
}
.bg2 {
    background-color: #EDEBD7;
}

h2, h5, p {
    line-height: 1.8em;
}